<template>
  <b-row>
    <b-col
      cols="12"
      xl="12"
    >
      <b-row class="mb-3 text-right">
        <b-col
          cols="12"
          align-self="center"
        >
          <b-button
            variant="success"
            @click="show.create = true"
          >
            Nuevo
          </b-button>
        </b-col>
      </b-row>
      <list
        :refresh="refreshList"
        @editClient="showEditClient"
        @deleteClient="showDeleteClient"
        @refreshList="refreshList = false"
      />
      <b-modal
        v-model="show.create"
        title="Nuevo cliente"
        header-bg-variant="dark"
        header-text-variant="light"
        hide-footer
      >
        <create
          v-if="show.create"
          @refreshList="refreshList = true"
          @close="show.create = false"
        />
      </b-modal>
      <b-modal
        v-model="show.edit"
        title="Editar cliente"
        header-bg-variant="dark"
        header-text-variant="light"
        hide-footer
      >
        <edit
          v-if="show.edit"
          v-model="selectedClient"
          @refreshList="refreshList = true"
          @close="show.edit = false"
        />
      </b-modal>
      <b-modal
        v-model="show.delete"
        title="Eliminar cliente"
        header-bg-variant="dark"
        header-text-variant="light"
        hide-footer
      >
        <delete
          v-if="show.delete"
          v-model="selectedClient"
          @refreshList="refreshList = true"
          @close="show.delete = false"
        />
      </b-modal>
    </b-col>
  </b-row>
</template>

<script>
import List from './List.vue';
import Create from './Create.vue';
import Edit from './Edit.vue';
import Delete from './Delete.vue';

export default {
  name: 'Clients',
  components: {
    List,
    Create,
    Edit,
    Delete,
  },
  data: () => ({
    refreshList: false,
    selectedClient: null,
    show: {
      create: false,
      edit: false,
      delete: false,
    },
  }),

  methods: {
    showEditClient(client) {
      this.selectedClient = client;
      this.show.edit = true;
    },
    showDeleteClient(client) {
      this.selectedClient = client;
      this.show.delete = true;
    },
  },
};
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
