<template>
  <b-container fluid>
    <template v-slot:modal-header="{ close }">
      <b-button
        size="sm"
        variant="outline-danger"
        @click="close()"
      >
        Close Modal
      </b-button>
    </template>
    <validation-observer ref="createClientForm">
      <b-form
        slot-scope="{ validate }"
        @submit.prevent="validate().then(submitform)"
      >
        <validation-provider
          rules="required"
          name="nombre"
        >
          <b-form-group
            slot-scope="{ valid, errors }"
            label="Nombre"
            label-for="form.name"
            :label-cols="2"
          >
            <b-form-input
              id="form.name"
              v-model="form.name"
              :state="errors[0] ? false : (valid ? true : null)"
            />
            <b-form-invalid-feedback id="inputLiveFeedback">
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>

        <validation-provider
          rules="required|email"
          name="correo"
        >
          <b-form-group
            slot-scope="{ valid, errors }"
            label="Correo"
            label-for="form.email"
            :label-cols="2"
          >
            <b-form-input
              id="form.email"
              v-model="form.email"
              type="email"
              :state="errors[0] ? false : (valid ? true : null)"
            />
            <b-form-invalid-feedback id="inputLiveFeedback">
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>

        <validation-provider
          rules="required"
          name="teléfono"
        >
          <b-form-group
            slot-scope="{ valid, errors }"
            label="Teléfono"
            label-for="form.phone"
            :label-cols="2"
          >
            <b-form-input
              id="form.phone"
              v-model="form.phone"
              :state="errors[0] ? false : (valid ? true : null)"
            />
            <b-form-invalid-feedback id="inputLiveFeedback">
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>

        <b-form-group
          label="Dirección"
          label-for="form.address"
          :label-cols="2"
        >
          <b-form-input
            id="form.address"
            v-model="form.address"
          />
        </b-form-group>

        <select-country
          v-model="form.country_id"
          :rules="'required'"
          :vid="'country'"
          :name="'país'"
        />

        <image-uploader
          v-model="form.image"
          :observer-ref="'createClientForm'"
          :rules="'required'"
          :vid="'logo'"
          :validation-name="'logo'"
        />

        <b-row class="text-right mb-4">
          <b-col>
            <b-form-checkbox
              v-model="form.generate_password"
              name="check-button"
              switch
            >
              Generar contraseña
            </b-form-checkbox>
          </b-col>
        </b-row>

        <b-row class="justify-content-end">
          <b-col
            class="text-right"
          >
            <b-button
              class="w-25 mr-1"
              type="submit"
              variant="primary"
            >
              Crear
            </b-button>
            <b-button
              class="w-25 ml-1"
              type="reset"
              variant="danger"
              @click="$emit('close')"
            >
              Cancelar
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-container>
</template>
<script>
import { store } from '../../../requests/Client';
import SelectCountry from '../../../components/Country/Select.vue';
import ImageUploader from '../../../components/Uploader/ImageUploader.vue';

export default {
  name: 'CreateClient',
  components: {
    SelectCountry,
    ImageUploader,
  },
  data: () => ({
    form: {
      email: null,
      name: null,
      address: null,
      phone: null,
      logo_url: 'https://lorempixel.com/640/480/?14655',
      country_id: null,
      url: null,
      image: {
        file: null,
        name: null,
        extension: null,
        url: null,
      },
      generate_password: false,
    },
  }),
  // watch: {
  //   form: {
  //     immediate: true,
  //     handler(test) {
  //       console.log('test', test);
  //     },
  //   },
  // },
  methods: {
    async submitform() {
      try {
        const isValid = await this.$validator.validateAll();
        if (isValid) {
          await store(this.form);
          this.$emit('refreshList');
          this.resetForm();
          this.$emit('close');
        }
      } catch (error) {
        console.error(error);
      }
    },
    resetForm() {
      this.form.name = null;
      this.form.email = null;
      this.form.address = null;
      this.form.phone = null;
      this.logo_url = null;
      this.country_id = null;
      this.$refs.createClientForm.reset();
    },
    onChange(e) {
      this.name = e.target.files[0].name;
      const [file] = e.target.files;
      this.setPreview(file);

      this.value.file = file;
      this.value.extension = this.extension;
      this.value.name = this.name;
    },
    setPreview(file) {
      const reader = new FileReader();
      reader.onload = () => {
        this.url = reader.result;
      };

      reader.readAsDataURL(file);
    },
    onFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) { return; }
      this.createImage(files[0]);
    },
    createImage(file) {
      // const image = new Image();
      const reader = new FileReader();
      const vm = this;

      reader.onload = (e) => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    // removeImage: function (e) {
    //   this.image = '';
    // }
  },

};
</script>
