<template>
  <b-container fluid>
    <template v-slot:modal-header="{ close }">
      <b-button
        size="sm"
        variant="outline-danger"
        @click="close()"
      >
        Close Modal
      </b-button>
    </template>
    <div>
      Haz seleccionado un cliente de tu lista ¿Deseas eliminarlo en este momento? verifica que
      esta acción sea la correcta.
    </div>
    <b-row class="justify-content-end mt-4">
      <b-col
        class="text-right"
      >
        <b-button
          class="w-25 mr-1"
          variant="primary"
          @click="deleteClient"
        >
          Eliminar
        </b-button>
        <b-button
          class="w-25 ml-1"
          type="submit"
          variant="danger"
          @click="$emit('close')"
        >
          Cancelar
        </b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { destroy } from '../../../requests/Client';

export default {
  name: 'DeleteClient',
  props: {
    value: {
      type: Number,
      default: null,
    },
  },
  methods: {
    async deleteClient() {
      try {
        await destroy(this.value);
        this.$emit('refreshList');
        this.$emit('close');
      } catch (exception) {
        console.error(exception);
      }
    },
  },
};
</script>
