<template>
  <transition name="slide">
    <b-card>
      <div
        slot="header"
        class="h1"
      >
        {{ caption }}
      </div>
      <b-alert
        v-if="clients.data.length === 0"
        show
        variant="info"
      >
        No tienes clientes a tu cargo
      </b-alert>
      <div v-else>
        <b-table
          :hover="hover"
          :striped="striped"
          :bordered="bordered"
          :small="small"
          :fixed="fixed"
          :items="clients.data"
          :fields="fields"
          :current-page="clients.meta.current_page"
          :per-page="0"
          responsive="sm"
        >
          <template
            slot="created_at"
            slot-scope="data"
          >
            {{ data.item.created_at | moment('DD-MM-YYYY [-] hh:mm A') }}
          </template>
          <template
            slot="actions"
            slot-scope="data"
          >
            <b-button
              pill
              variant="primary"
              size="sm"
              class=" mr-1"
              @click="showEditModal(data.item.id)"
            >
              <i class="fa fa-edit" /> Editar
            </b-button>
            <b-button
              pill
              variant="success"
              size="sm"
              class=" mr-1"
              @click="showEditModal(data.item.id)"
            >
              <i class="fa fa-plus-circle" /> Cuentas
            </b-button>
            <b-button
              pill
              variant="danger"
              size="sm"
              class=""
              @click="showDeleteModal(data.item.id)"
            >
              <i class="fa fa-trash" /> Eliminar
            </b-button>
          </template>
        </b-table>
        <b-row>
          <b-col
            cols="9"
            sm="6"
            xl="2"
            class="mt-3"
          >
            <b-pagination
              v-model="pagination.page"
              :total-rows="clients.meta.total"
              :per-page="pagination.per_page"
              hide-goto-end-buttons
              align="fill"
              size="sm"
              class="my-0"
            />
          </b-col>
          <b-col
            cols="3"
            sm="2"
            xl="1"
            class="mt-3"
          >
            <b-form-group
              class="mb-0"
            >
              <b-form-select
                id="perPageSelect"
                v-model="pagination.per_page"
                size="sm"
                :options="pageOptions"
              />
            </b-form-group>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </transition>
</template>

<script>
import { index } from '../../../requests/Client';

export default {
  name: 'ClientList',
  props: {
    refresh: Boolean,
    caption: {
      type: String,
      default: 'Lista de clientes',
    },
    hover: {
      type: Boolean,
      default: true,
    },
    striped: {
      type: Boolean,
      default: true,
    },
    bordered: {
      type: Boolean,
      default: false,
    },
    small: {
      type: Boolean,
      default: false,
    },
    fixed: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    fields: [
      {
        key: 'name',
        label: 'Nombre',
      },
      {
        key: 'email',
        label: 'Correo',
      },
      {
        key: 'created_at',
        label: 'Creación',
      },
      {
        key: 'actions',
        label: '',
      },
    ],
    clients: {
      data: [],
      meta: {
        total: 0,
      },
    },
    pagination: {
      page: 1,
      per_page: 10,
    },
    pageOptions: [5, 10, 15],
  }),
  watch: {
    pagination: {
      deep: true,
      immediate: true,
      async handler() {
        await this.getClients();
      },
    },
    refresh(refresh) {
      if (refresh) {
        this.getClients();
      }
    },
  },
  created() {
    this.getClients();
  },
  methods: {
    async getClients() {
      try {
        this.clients = await index(this.pagination);
        this.$emit('refreshList');
      } catch (exception) {
        console.error(exception);
      }
    },
    // userLink(id) {
    //   return `users/${id.toString()}`;
    // },
    // rowClicked(user) {
    //   const userLink = this.userLink(user.id);
    //   this.$router.push({ path: userLink });
    // },
    showEditModal(client) {
      this.$emit('editClient', client);
    },
    showDeleteModal(client) {
      this.$emit('deleteClient', client);
    },
  },
};
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
