<template>
  <b-container fluid>
    <template v-slot:modal-header="{ close }">
      <b-button
        size="sm"
        variant="outline-danger"
        @click="close()"
      >
        Close Modal
      </b-button>
    </template>
    <validation-observer ref="updateUserForm">
      <b-form
        slot-scope="{ validate }"
        @submit.prevent="validate().then(submitform)"
      >
        <validation-provider
          rules="required"
          name="nombre"
        >
          <b-form-group
            slot-scope="{ valid, errors }"
            label="Nombre"
            label-for="form.name"
            :label-cols="2"
          >
            <b-form-input
              id="form.name"
              v-model="form.name"
              :state="errors[0] ? false : (valid ? true : null)"
            />
            <b-form-invalid-feedback id="inputLiveFeedback">
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
        <validation-provider
          rules="required|email"
          name="correo"
        >
          <b-form-group
            slot-scope="{ valid, errors}"
            label="Correo"
            label-for="form.email"
            :label-cols="2"
          >
            <b-form-input
              id="form.email"
              v-model="form.email"
              type="email"
              :state="errors[0] ? false : (valid ? true : null)"
            />
            <b-form-invalid-feedback id="inputLiveFeedback">
              {{ errors[0] }}
            </b-form-invalid-feedback>
          </b-form-group>
        </validation-provider>
        <select-role
          v-model="form.role_id"
          :rules="'required'"
          :vid="'role'"
          :name="'rol'"
        />
        <b-row class="justify-content-end">
          <b-col
            class="text-right"
          >
            <b-button
              class="w-25 mr-1"
              type="submit"
              variant="primary"
            >
              Guardar
            </b-button>
            <b-button
              class="w-25 ml-1"
              type="reset"
              variant="danger"
              @click="$emit('close')"
            >
              Cancelar
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </validation-observer>
  </b-container>
</template>
<script>
import { update, show } from '../../../requests/User';
import SelectRole from '../../../components/Role/Select.vue';

export default {
  name: 'EditUser',
  components: {
    SelectRole,
  },
  props: {
    value: {
      type: Number,
      default: null,
    },
  },
  data: () => ({
    form: {
      email: null,
      name: null,
      role_id: null,
    },
  }),
  created() {
    this.getUser();
  },
  methods: {
    async getUser() {
      const data = await show(this.value);
      data.role_id = data.roles[0].id;
      this.form = data;
    },
    async submitform() {
      try {
        await update(this.form);
        this.$emit('refreshList');
        this.resetForm();
        this.$emit('close');
      } catch (error) {
        console.error(error);
      }
    },
    resetForm() {
      this.form.name = null;
      this.form.email = null;
      this.form.role_id = null;
      this.$refs.updateUserForm.reset();
    },
  },

};
</script>
