
<template>
  <validation-provider
    ref="createUserForm"
    :vid="vid"
    :name="name"
    :rules="rules"
  >
    <b-form-group
      id="Rol"
      slot-scope="{ valid, errors }"
      label="Rol"
      label-for="form.role_id"
      :label-cols="2"
      v-bind="$attrs"
    >
      <b-form-select
        id="form.role_id"
        v-model="selected"
        :options="roles"
        value-field="id"
        text-field="name"
        v-bind="$attrs"
        :state="errors[0] ? false : (valid ? true : null)"
        @change="$emit('input', $event)"
      >
        <slot />
      </b-form-select>
      <b-form-invalid-feedback id="inputLiveFeedback">
        {{ errors[0] }}
      </b-form-invalid-feedback>
    </b-form-group>
  </validation-provider>
</template>


<script>
import { select } from '../../requests/Role';

export default {
  name: 'SelectRole',
  props: {
    vid: {
      type: String,
      default: null,
    },
    name: {
      type: String,
      default: null,
    },
    rules: {
      type: [Object, String],
      default: null,
    },
    value: {
      type: Number,
      default: null,
    },
  },
  data: () => ({
    selected: null,
    roles: [],
  }),
  watch: {
    value(newVal) {
      this.selected = newVal;
    },
  },
  created() {
    this.selectRoles();
  },
  methods: {
    async selectRoles() {
      this.roles = await select();
    },
  },
};
</script>
