<template>
  <validation-provider
    :ref="observerRef"
    :rules="rules"
    :vid="vid"
    :name="validationName"
  >
    <b-form-group
      slot-scope="{ valid, errors }"
      label="Logo"
      :label-cols="2"
    >
      <b-form-file
        v-model="value.file"
        size="sm"
        placeholder="Elige un archivo o arrástralo hacia aquí"
        drop-placeholder="Suelta el archivo aquí..."
        browse-text="Buscar"
        :state="errors[0] ? false : (valid ? true : null)"
        @change="handleChange"
      />
      <b-form-invalid-feedback id="inputLiveFeedback">
        {{ errors[0] }}
      </b-form-invalid-feedback>

      <b-row class="text-center">
        <b-col
          v-if="url"
          class="mt-3"
        >
          <b-button
            pill
            variant="danger"
            size="sm"
            @click="removeImage"
          >
            <i class="fa fa-remove" />
          </b-button>
        </b-col>
      </b-row>

      <b-row class="text-center">
        <b-col>
          <b-img
            class="mt-2"
            :src="url"
            fluid
            style="max-height: 200px;"
          />
        </b-col>
      </b-row>
    </b-form-group>
  </validation-provider>
</template>

<script>
export default {
  name: 'ImageUploader',
  props: {
    observerRef: {
      type: String,
      default: null,
    },
    rules: {
      type: [Object, String],
      default: null,
    },
    vid: {
      type: String,
      default: null,
    },
    validationName: {
      type: String,
      default: null,
    },
    value: {
      type: Object,
      default: null,
    },
  },
  data: () => ({
    url: null,
    name: null,
  }),
  computed: {
    extension() {
      const [extension] = this.name.split('.').reverse();
      return extension;
    },
  },
  watch: {
    value: {
      immediate: true,
      deep: true,
      handler({ url }) {
        if (url) {
          console.log('not null');
          this.url = url;
        } else {
          console.log('null');
          this.url = null;
          this.test = null;
        }
      },
    },
  },
  methods: {
    handleChange(event) {
      console.log('event', event);
      this.name = event.target.files[0].name;
      const [file] = event.target.files;
      this.setPreview(file);
      this.$emit('input', {
        ...this.value,
        file,
        extension: this.extension,
        name: this.name,

      });
    },
    setPreview(file) {
      const reader = new FileReader();
      reader.onload = () => {
        this.url = reader.result;
      };

      reader.readAsDataURL(file);
    },
    removeImage() {
      this.url = null;
      this.name = null;
      this.value.url = null;
      this.$emit('input', {
        ...this.value,
        extension: null,
        file: null,
        name: null,
      });
    },
  },
};
</script>
