<template>
  <div
    id="login"
    class="app flex-row align-items-center"
  >
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card
              no-body
              class="p-4"
            >
              <b-card-body>
                <validation-observer ref="customPasswordForm">
                  <b-form
                    slot-scope="{ validate }"
                    @submit.prevent="validate().then(customPassword)"
                  >
                    <h1>Cambio de contraseña</h1>
                    <p class="text-muted">
                      Ingresa tu nueva contraseña
                    </p>

                    <validation-provider
                      rules="required"
                      name="contraseña"
                      vid="password"
                    >
                      <b-input-group
                        slot-scope="{ valid, errors }"
                        class="mb-3"
                      >
                        <b-input-group-prepend>
                          <b-input-group-text>
                            <i class="icon-lock" />
                          </b-input-group-text>
                        </b-input-group-prepend>
                        <b-form-input
                          v-model="form.password"
                          type="password"
                          :state="errors[0] ? false : (valid ? true : null)"
                          placeholder="Contraseña"
                        />
                        <b-form-invalid-feedback id="inputLiveFeedback">
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-input-group>
                    </validation-provider>

                    <validation-provider
                      rules="required|confirmed:password"
                      name="confirmar contraseña"
                    >
                      <b-input-group
                        slot-scope="{ valid, errors }"
                        class="mb-3"
                      >
                        <b-input-group-prepend>
                          <b-input-group-text>
                            <i class="icon-lock" />
                          </b-input-group-text>
                        </b-input-group-prepend>
                        <b-form-input
                          v-model="passworConfirmation"
                          type="password"
                          :state="errors[0] ? false : (valid ? true : null)"
                          placeholder="Confirmar contraseña"
                        />
                        <b-form-invalid-feedback id="inputLiveFeedback">
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-input-group>
                    </validation-provider>
                    <b-row>
                      <b-col cols="6">
                        <b-button
                          type="submit"
                          variant="primary"
                          class="px-4"
                        >
                          Guardar
                        </b-button>
                      </b-col>
                    <!-- <b-col
                      cols="6"
                      class="text-right"
                    >
                      <b-button
                        variant="link"
                        class="px-0"
                      >
                        Forgot password?
                      </b-button>
                    </b-col> -->
                    </b-row>
                  </b-form>
                </validation-observer>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { customPassword } from '../../requests/User';
import store from '../../store';

export default {
  name: 'CustomPassword',
  data: () => ({
    passworConfirmation: null,
    form: {
      email: null,
      password: null,
    },
  }),
  computed: {
    ...mapState('auth', ['user']),
  },
  create() {
    this.form.email = this.user.email;
    console.log('user', this.user);
  },
  methods: {
    ...mapActions('auth', ['logout']),

    async customPassword() {
      try {
        const isValid = await this.$validator.validateAll();
        if (isValid) {
          this.form.email = store.state.auth.user.email;
          await customPassword(this.form);
          this.$refs.customPasswordForm.reset();
          this.logout();
        }
      } catch (exception) {
        console.error(exception);
      }
    },
  },
};
</script>
