<template>
  <div
    id="login"
    class="app flex-row align-items-center"
  >
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card
              no-body
              class="p-4"
            >
              <b-card-body>
                <validation-observer ref="loginForm">
                  <b-form
                    slot-scope="{ validate }"
                    @submit.prevent="validate().then(login)"
                  >
                    <h1>Login</h1>
                    <p class="text-muted">
                      Sign In to your account
                    </p>

                    <validation-provider
                      rules="required|email"
                      name="correo"
                    >
                      <b-input-group
                        slot-scope="{ valid, errors }"
                        class="mb-3"
                      >
                        <b-input-group-prepend>
                          <b-input-group-text>
                            <i class="icon-user" />
                          </b-input-group-text>
                        </b-input-group-prepend>
                        <b-form-input
                          v-model="form.email"
                          type="email"
                          :state="errors[0] ? false : (valid ? true : null)"
                          placeholder="Correo"
                        />
                        <b-form-invalid-feedback id="inputLiveFeedback">
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-input-group>
                    </validation-provider>

                    <validation-provider
                      rules="required"
                      name="contraseña"
                    >
                      <b-input-group
                        slot-scope="{ valid, errors }"
                        class="mb-3"
                      >
                        <b-input-group-prepend>
                          <b-input-group-text>
                            <i class="icon-lock" />
                          </b-input-group-text>
                        </b-input-group-prepend>
                        <b-form-input
                          v-model="form.password"
                          type="password"
                          :state="errors[0] ? false : (valid ? true : null)"
                          placeholder="Contraseña"
                        />
                        <b-form-invalid-feedback id="inputLiveFeedback">
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-input-group>
                    </validation-provider>
                    <b-row>
                      <b-col cols="6">
                        <b-button
                          type="submit"
                          variant="primary"
                          class="px-4"
                        >
                          Login
                        </b-button>
                      </b-col>
                      <b-col
                        cols="6"
                        class="text-right"
                      >
                        <b-button
                          variant="link"
                          class="px-0"
                        >
                          Forgot password?
                        </b-button>
                      </b-col>
                    </b-row>
                  </b-form>
                </validation-observer>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { login } from '../../requests/Auth';

export default {
  name: 'Login',
  data: () => ({
    form: {
      email: null,
      password: null,
    },
  }),
  methods: {
    ...mapActions('auth', ['authenticate']),

    async login() {
      try {
        const isValid = await this.$validator.validateAll();
        if (isValid) {
          const data = await login(this.form);
          this.authenticate({
            access_token: data.access_token,
            user: data.user,
          });
        }
      } catch (exception) {
        console.error(exception);
      }
    },
  },
};
</script>
